{% extends "main.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block contentLogin %}
 <style>
  .hero{
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("{% static 'images/login.jpg' %}") ;
        background-position: center;
        background-size: cover;
        position: absolute;
  }
</style>
<div class="hero">
        <div class="form-box">
           <div class="button-box">
               <div id="login-btn-register"></div>
               <!-- login-btn-login -->
               <a href="{% url 'login' %}" class="logincolour"><button type="button" class="toggle-btn">LOG IN</button></a>
               <!-- onclick="login()" -->
               <a href="{% url 'register' %}" class="logincolour"><button type="button" class="toggle-btn">Register</button></a>
               <!-- onclick="register()" -->
          </div>
        <!-- <form id="login" class="login-input-group">
              {% csrf_token %}
             <input type="text" class="login-input-field" placeholder="User Id" required>
              <input type="text" class="login-input-field" placeholder="Enter Password" required>
              <input type="checkbox" class="chech-box"><span class="login-span">Remember Password</span>
              <button type="submit" class="login-submit-btn">Log in</button>
        </form>
           <form  id="register" class="login-input-group">
                {% csrf_token %}
               <input type="text" class="login-input-field" placeholder="User Id" required>
               <input type="email" class="login-input-field" placeholder="Email Id" required>
               <input type="text" class="login-input-field" placeholder="Enter Password" required>
               <input type="checkbox" class="chech-box"><span class="login-span">I agree to terms & conditions</span>
               <!-- <div class="login-input-field">
                 {{ form|crispy }}
               </div> -->
               <!-- {{ form|crispy }} -->
               <!-- <button type="submit" class="login-submit-btn">Register</button>
            </form> -->

          <form class="login-form" method="POST">
           {% csrf_token %}
            {{ form|crispy }}
           <button type="submit" class="login-submit-btn">Register</button>
           <!-- <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Sign Up</button>
           <p class="mt-3 font-weight-normal">Already Have An Account? <a href="{% url 'login' %}"><strong>Sign In</strong></a></p> -->
        </form>
        </div>
      </div>

    <!-- <script>
     var x = document.getElementById("login");
     var y = document.getElementById("register");
     var z = document.getElementById("login-btn");

     function register(){
       x.style.left="-400px";
       y.style.left="50px";
       z.style.left="110px";
     }

     function login() {
       x.style.left="50px";
       y.style.left="450px";
       z.style.left="0";
     }
    </script> -->

{% endblock contentLogin %}
