{% extends 'main.html' %}
{% load static %}
{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow fadeIn">
        <div class="col-md-6 mb-4">
          <img src="{{ product.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 mb-4">
          <div class="p-4">
            <p class="lead">
              {% if product.discount_price %}
              <span class="mr-1">
                <del>Rs.{{ product.price }}</del>
              </span>
              <span>Rs.{{ product.discount_price }}</span>
              {% else %}
              <span>Rs.{{ product.price }}</span>
              {% endif %}
            </p>
            <p class="lead font-weight-bold">Description</p>
            <p>{{ product.description }}</p>

            <a data-product="{{product.id}}" data-action="add" class="btn btn-primary btn-md my-0 p add-btn update-cart">
              Add to cart
              <i class="fas fa-shopping-cart"></i>
            </a>
          </div>
        </div>
      </div>
  </main>
{% endblock content %}
